body{
	line-height: 1.4em;
}

#header{
	padding: 6em 0 3em 0;
}

#header img{
	display: block;
	width: 70%;
}

#userBar{
	display:none;
}

#content #breadcrumb p{
	font-size: 0.9em;
}

.divGenerico{
	margin-top: 0;
}

.divDx, .divSx {
	padding:1em;
}

.divDx img, .divSx img{
	display:none;
}

.Card img {display: none;}

#footer p {
	font-size: 0.9em;
}

#nav li:nth-child(8), #nav li:nth-child(9){
	display:block;
	font-weight: bold;
	background-color: #044B5D;
}

#nav li:nth-child(8)>a, #nav li:nth-child(9)>a, #nav li:nth-child(8)>a:hover, #nav li:nth-child(9)>a:hover{
	background-color: #044B5D;
	color:#fff;
}

#nav li:nth-child(8):hover, #nav li:nth-child(9):hover{
	background-color: #044B5D;
}

/*CORSI*/

h1{
	margin-bottom:0;
}

.box h2{
	margin: 1em 0 0.5em 0;
}

.box{
	width: 100%;
	min-height: auto;
}

.box img{
	display: none;
}
.box p{
	padding: 0 0 0.5em 0;
}
/*CORSI*/

/*LOGIN*/
#delete-login-button{
	display:none;
}


/*STAFF*/
#fila img{
	width: 40%;
}
/*STAFF*/

/*LOGIN-REGISTRAZIONE*/
#login-register-form ul {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

/*GALLERIA*/

#column{
	width:90%;
}

/*FINE GALLERIA*/

/*contatti*/
#map {
	display: none;
}
