*{
	margin:0;
	padding:0;
}

body{
	line-height: 1.5em;
	margin: auto;
	background: #E4E4E4;
	max-width: 1200px;
	font-family: 'Montserrat',sans-serif;
}

h1{
	font-size:2em;
	margin-bottom: 1em;
	margin-top: 1em;
}

h2{
	font-size:1.6em;
	margin-bottom: 1em;
}

p{
	font-size: 1.1em;
	margin:0.8em 0 0.8em 0;
}

.center {
	/* padding: 0.5em; */
	text-align: center;
}

.clearfix{
	clear:both;
}

a{
	color: #044B5D;
	font-weight: bold;
}



/*****
MENU
******/

#nav {
	margin:0;
	padding-left: 2%;
	padding-right: 2%;
	text-align: right;
	background-color: #fff;
}

#logo {
	float:left;
	padding: 0.5em 0 0.5em 0;
}

#logo img {
	max-height: 3.8em;
	vertical-align:middle;
}

#nav li{
	display: inline-block;
	padding: 1.8em 0.8% 1.8em 0.8%;
}

#nav li>a {
	border-radius: 0.8em;
	padding: 0.5em;
	color: #044B5D;
}

#nav li>a:link {
	color: #044B5D;
	text-decoration: none;
}

#nav li>a:hover{
	color: #000;
	background-color: #E4E4E4;
}

#nav li:nth-child(6), #nav li:nth-child(7){
	display:none;
}

#nav #currentLink{
	height: 100%;
	border-radius: 0.8em;
	padding: 0.5em;
	cursor:default;
	color: #fff;
	background-color: #343434;
	font-weight: bold;
}




/*****
HEADER
******/


#header{
	color:white;
	background-color: black;
	background-image: url("../IMG/banner.jpg");
	height: 16em;
	background-size:cover;
	background-position: center;
	text-align: center;
}

#header img{
	margin: 1em 0 1em 0;
	width: 70%;
	display: none;
}


/*****
USERBAR
******/
#userBar{
	text-align: right;
	background-color: #343434;
	width: 98%;
	color:white;
	padding:1%;
}

#userBar li{
	display: inline-block;
	margin: 0 0.5em 0 0.5em;
}

#userBar li>a {
	color:white;
}


/*****
CONTENUTO
******/
#linkSfondoScuro{
	color:white;
	padding:1em;
	background-color: #0074e4;
	border-radius: 1em;
	line-height: 4em;
}

#time{
	font-size: 0.8em;
	font-style: italic;
}

#primoPiano{
	padding:0 5% 0 0 ;
	width:60%;
	float:left;
	text-align: center;
}
/*
#primoPiano p{
	text-align: center;
} */

#secondoPiano {
	text-align: center;
	float:right;
	width: 35%;
}

#secondoPiano p{
	/* padding:0 5%; */
	text-align: justify;
}

#primoPiano img {
	width:60%;
}

#secondoPiano img{
	width: 90%;
}

#content{
	padding:2em 5% 2em 5%;
	background: #fff;
	text-align:left;
	overflow: hidden;
}

.divDx, .divSx {
	clear: both;
	padding-top: 1.5em;
	min-height: 23em;
}

.divGenerico{
	margin-top: 4em;
	clear:both;
}

.divGenerico ul{
	padding-left: 3em;
	line-height: 1.7em;
	list-style:none;
}

.divGenerico ul>li:before {
  content: "+";
	padding-right: 1em;
  color: #044B5D;
}

.divGenerico img{
	max-width: 50%;
}

.evidenza{
	padding: 1.5em;
	background-color: #f2efef;
	text-align: center;
}

#Banner{
	margin-top: 5em;
	min-height: 18em;
	background-image: url("../IMG/header.jpg");
	background-size:cover;
	background-position: center;
	position: relative;
}

#Banner div{
	opacity: 0.95;
	filter:Alpha(opacity=95);		/*per IE dalla ottava versione in giú*/
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%;
	background-color: #343434;
	color:#fff;
	padding: 0 2% 0 2%;
}


.button {
  background-color: #E4E4E4;
  border: none;
  color: #000;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#Banner h1{
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.divGenerico h1{
	text-align:center;
}

.divSx h1, .divDx h1 {
	font-weight: bold;
}

.divDx h1{
	text-align:right;
}

.divSx img{
	float:left;
	width: 35%;
	margin: 0 1.2em 1.2em 0;
	text-align: left;
}
/*
.divSx p{
	float: right;
} */

.divDx img{
	float:right;
	width: 35%;
	margin: 0 0 1.2em 1.2em;
}

#content #breadcrumb p{
	font-style: italic;
	font-size: 1em;
	margin: 0;
}

.Card{
	text-align: center;
	width: 40%;
	padding:5%;
}

.Sx {
	float:left;
}

.Dx{
	display:inline-block;
}

.Card img{
	width: 30%;
}

.Card h2{
	margin-top: 1em;
	font-weight: bold;
	text-transform: uppercase;
}


/*******
CSS CONTATTI
*******/
#map {
	margin-top: 1.5em;
}


#contatti {
	/* margin-top:2em; */
	float:left;
	min-height: 29em;
}

#contatti p,#contatti h1, #contatti h2 {
	margin-left: 0%;
}

#contatti p{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

#contatti h1{
	margin-bottom: 0em;
}

#contatti h2{
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

#map {
}

#map iframe{
	height: 25em;
	border: 0;
	width: 50%;
	float:right;
}


/******FINE CSS CONTATTI******/



/*******
CSS CORSI
*******/


.box img{
	max-height: 12em;
	max-width: 70%;
}

.box p{
	margin: auto;
	padding: 5%;
}

.box{
	min-height: 30em;
	text-align: center;
	width: 50%;
}

.pagination{
	text-align: center;
	clear: both;
	padding: 2em 0 2em 0;
}

.pagination a {
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}

.pagination span.active {
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #044B5D;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/******FINE CSS CORSI******/


/***STAFF***/

#fila{
	float: left;
	display: inline-block;
	text-align: center;
	width: 25%;
	padding-top: 5%;
}
#fila img{
	width: 50%;
	border-radius: 50%;
}

/***FINE STAFF***/

/*******
CSS LOGIN
*******/

#login-register-form {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

#login-register-form ul {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

#login-register-form li{
	list-style-type: none;
	margin: 1.2em;
	text-align: left;
}

#login-register-form #buttons-login{
	text-align: center;
}

#login-register-form li input[type=email], #login-register-form li input[type=password],
#login-register-form li input[type=text], #login-register-form li textarea,  #login-register-form li select{
	width: 100%;
	display: block;
  padding: 0.7em;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#login-register-form li input[type=email]:focus, #login-register-form li input[type=password]:focus,
#login-register-form li input[type=text]:focus, #login-register-form li textarea:focus {
  border: 2px solid #555;
}

#fileToUpload{
	width: 100%;
	display: block;
}

#login-button{
	font-weight: bold;
}

.error{
	font-size: 0.9em;
	color: red;
	display
}

fieldset{
	margin-bottom: 3em;
}



/*GALLERY*/


#column{
	width:23%;
	float:left;
	padding:1%;
}

#column img{
	width:100%;
	cursor:pointer;
}

#showImage {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: black;
}

#imageContent{
  position: relative;
  margin:auto;
  text-align:center;
  width:60%;
}

#showImage img{
	position:fixed;
	width:50%;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

#closeImage {
  color: white;
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 2em;
  font-weight: bold;
  cursor:pointer;
}


/*FINE GALLERY*/


/*****
PROFILO
******/

.anagrafica{
	padding:2%;
	width: 46%;
	float:left;
	text-align: left;
}
.anagrafica span{
	font-weight: bold;
}

/* #prenota legend{
	margin:auto;
}
#prenota{
	padding:2em;
}

#pren{
	text-align:center;
	font-size:1.2em;
} */

#rem{
	margin:auto;
	width:100%;
	/* text-align:center;  */
	float:left;
}

#remP{
	width:50%;
	float:left;
}

#utenteButt{
	margin-top: 1em;
}


/*****
FOOTER
******/

#footer{
	text-align: center;
	background-color: #343434;
	color:#fff;
	padding: 1em;
	clear: both;
}

#footer p{
	font-size:0.9em;
	margin: 0.4em 0 0.4em 0;
}

#imgValidCode{
	float:left;  /*mettendo float, trasformo il contenuto in elemento di blocco e lo posiziono con l'inline a sx o dx*/
}

#imgValidCSS{
	float:right;
}

#menuIcon{
	border:0;
	height: 1.5em;
	width: 1.5em;
	font-size:2em;
	color:#000;
	cursor: pointer;
	background-color: #fff;
	display: none;
}
