.menuItems{
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
}

.menuItems.show {
	transition: all 0.8s ;
	height: 100%;
	overflow: auto;
}

#menuIcon{
	float: right;
	display: block;
}

#nav{
	position:absolute;
	width: 100%;
	min-height: 3em;
	padding:0;
	background-color: #fff;
}
#nav ul{
	width: 100%;
	text-align: center;
}

#nav li{
	clear: both;
	width: 100%;
	display: block;
	background-color: #fff;
	color: #044B5D;
	padding: 0;
}

#nav li>a{
	display:inline-block;
	width:100%;
	height: 100%;
	padding: 0.7em 0;
}

#nav li:hover{
	color: #000;
	background-color: #E4E4E4;
}

#nav li:nth-child(8), #nav li:nth-child(9){
	display:none;
}

#nav #currentLink{
	border-radius: 0;
	padding: 0.7em 0;
}

#logo{
	display:none;
	float:none;
}

#header{
	height: auto;
	padding: 7em 0 4em 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/banner.jpg");
	background-size:cover;
}

#header img{
	width: 60%;
	margin: auto;
	display: block;
}

.divDx, .divSx {
	padding:1.5em;
}

.divSx h1, .divDx h1{
	text-align:center;
}

.divDx , .divSx {
	text-align:center;
}

.divDx img, .divSx img{
	width: 50%;
	float: none;
	margin:0;
}

 h1{
	font-size:1.8em;
}

 h2{
	font-size:1.4em;
}

 p{
	font-size:1.0em;
}

.divGenerico{
	margin-top: 4em;
}

.Card{
	text-align: center;
	width:90%;
	padding: 0 5% 0 5%;
}

.Card img{
	width: 17%;
}

#Banner{
	display:none;
}


/*CORSI*/
.box{
	width: 100%;
	min-height: 20em;
	margin-bottom: 3em;
}

.box img{
	max-width: 60%;
	max-height: auto;
}

.box p{
	padding: 3%;
}


/*FINE CORSI*/


/*LOGIN-REGISTRAZIONE*/
#login-register-form ul {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

/*FINE LOGIN*/

/*STAFF*/
#fila{
	width: 50%;
}
/*FINE STAFF*/

/*CONTATTI*/

#contatti{
	min-height: auto;
	margin-bottom: 3em;
}

#map iframe{
	margin-bottom: 3em;
	width: 100%;
	height: 25em;
	border: 0;
	float: left;
}

#contatti p,#contatti h1, #contatti h2 {
	margin-left: 0;
}
/*FINE CONTATTI*/

/*GALLERIA*/

#column{
	width:40%;
	padding:5%;
}

#showImage img{
	width:90%;
}

/*FINE GALLERIA*/

.anagrafica{
	width: 96%;
	float: none;
}
