#nav {
	text-align: center;
}

#nav li{
	display: inline-block;
	padding: 1.5em 1% 1.5em 1%;
}

#logo{
	display:none;
	float:none;
}

#header{
	height: 15em;
}

.divDx, .divSx {
	padding:1.5em;
}

.divSx h1, .divDx h1{
	text-align:center;
}

.divDx , .divSx {
	text-align:center;
}

.divDx img, .divSx img{
	width: 50%;
	float: none;
}

 h1{
	font-size:1.8em;
}

 h2{
	font-size:1.4em;
}

 p{
	font-size:1.0em;
}

.divGenerico{
	margin-top: 4em;
}

.Sx {
	float:none;
}

.Dx {
	display:block;
}

.Card{
	text-align: center;
	width:90%;
	padding: 0 5% 0 5%;
}

.Card img{
	width: 17%;
}

#Banner{
	display:none;
} 


/*CORSI*/
.hei{
	min-height: 31em;
}

.box p{
	padding-bottom: 12%;
}
/*FINE CORSI*/
