html, body{
	font-family: Georgia, 'Times New Roman', serif;
}

img, #nav, #userBar, #Banner {
	display: none;
}

h1 {
	margin: 0.1em 0em;
	padding:0em;
}

h2{
	margin:0;
}

li{
	list-style-type: none;
}

#hideLink{
	display:none;
}

#content p{
	margin:0;
	padding:0;
}

#breadcrumb{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 0.8em;
}

#footer p{
	margin:0;
}

#footer {
	margin-top:2em;
	border-top:	1px solid #000;
	font-style: italic;
}



/*****
CONTATTI
*****/

#contatti h2{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}


/*****
STAFF
*****/

.fila{
	padding:0.5em 0;
}


/*****
GALLERIA
*****/

#column img {
	display: block;
	width: 23%;
	float:left;
	padding:1%;
}

.pagination{
	clear:both;
}

#closeImage{
	display:none;
}

/*****
CORSI
*****/

.box, .pagination {
	padding:0.5em 0;
}

/*****
LOGIN
*****/

#login-register-form {
	margin-top: 2em;
	margin-bottom: 2em;
}

/*****
NEWS
*****/
